@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

:root{
    --red-secondary: #D32929;
    --imperial-yellow: #FACD1E;
    --light: #FFF5E6;
    --grey: #E5DBB7;
    --grey-secondary: #CAC198;
    --royal-red: #7F2122;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #444;
    color: #fff;
    font-family: "Unkempt", serif;
    font-weight: bolder;

    height: 100vh;
    width: 100vw;
}

nav{
    background-color: var(--royal-red);
    width: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    
    padding: 2rem;
    width: 100%;
    
    list-style-type: none;

}

nav a {
    color: #fff;
    text-decoration: none;
}

/*Form*/
form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
}

.add-btn div{
    align-self: center;
    justify-self: center;
}



/*Books*/
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}



.books-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
    justify-content: center;

    padding: 1rem;

    gap: 1rem;

    width: 70%;

}

.book{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    background-color: var(--red-secondary);

    box-shadow: var(--imperial-yellow) 1px 2px 1px;
    padding: 1rem;
    border-radius: 1rem;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    .books-container{
    grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
    .books-container{
    grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (min-width: 1201px) {
    .books-container{
    grid-template-columns: repeat(3, 1fr);

    }
}